body{
    margin: 0;
    padding: 0;
    background-size:cover;
    height: 100vh ;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-family:"open sans",sans-serif;
    color:#ffff;
    cursor:pointer;

}
.content p{
    width:700px;
    line-height:26px;
    font-size:18px;
    text-align:justify;

}
.cursor{
position:fixed;
width:50px;
height:50px;
border:1px solid #c6c6c6 ;
border-radius: 50px;
left:0;
top:0;
pointer-events:none;
transform: translate(-50%, -50%);
}

.cursor{
    position:fixed;
    width:8px;
    height:8px;
    background-color:#c6c6c6;
    border-radius: 50px;
    left:0;
    top:0;
    pointer-events:none;
    transform: translate(-50%, -50%);
    }